AI_GATEWAY_SPREADSHEET_ID=1oj4a6zPQFjc9CJzB_4q-x0CBGsa0AiFrBrmnDnLX9aw
AI_GATEWAY_OWNER_ID=danganhdung
AI_GATEWAY_TARGET_WORKSPACE=10_CA_NHAN/danganhdung
AI_GATEWAY_POLL_INTERVAL_MS=30000
AI_GATEWAY_MAX_BATCH=5
HERMES_DISPATCH_WEBHOOK_URL=
GOOGLE_APPLICATION_CREDENTIALS=D:\\HermesAgent\\secrets\\google-service-account.json
